*{
    padding: 0;
    margin: 0;
}
h1,h4,li,#play,table{
    text-align: center;
}
#name1,p,#name2{
    margin-left: 40%;
}
table{
    margin-left: 30%;
}
body{
  background-image: url('../images/bg.jpg');
}
